@tailwind base;
@tailwind components;
@tailwind utilities;

/* Se precisar de algum ajuste global manual, faça abaixo: */
html {
  scroll-behavior: smooth;
}
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
}
